body {
  margin: 0 auto;
	background-color: #ffffff;
	background-image: linear-gradient(to top left, #e3e4e9, #ffffff); 
}

.container-fluid {
  margin-bottom: 20px;
}

#search-form {
  margin-top: 20px;
}

.weather-search {
  border-radius: 5px 0 0 5px;
}

#search-button {
  border-radius: 0 5px 5px 0;
}

#history {
  margin-top: 10px;
}

#history .btn {
  width: 100%;
  margin-bottom: 5px;
}

img {
	width: 90px;
}
