body {
  font-family: 'Arial', sans-serif;
	background-color: #7e7ba7;
}

header {
	background-image: linear-gradient(to left top, #113c7d, #614caf);
}

.container-fluid {
  margin-bottom: 20px;
}

#search-form {
  margin-top: 20px;
}

.weather-search {
  border-radius: 5px 0 0 5px;
}

#search-button {
  border-radius: 0 5px 5px 0;
}

#search-container, #history-container {
  background-color: #cdcada;
	margin-bottom: 20px;
	padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#history {
  margin-top: 10px;
}

#history .btn {
  width: 100%;
  margin-bottom: 5px;
}

#current-weather {
  background-image: linear-gradient(to left top, #6e95cc, #a7bfd4);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#forecast-box {
  background-image: linear-gradient(to left top, #113c7d, #614caf);
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#forecast-heading {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.forecast-container {
  margin-top: 20px;
}



